<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
  <display-name>Archetype Created Web Application</display-name>

  <!-- Listener que arma DI (DataSource, DAO, Service) -->
  <listener>
    <listener-class>com.example.personas.config.AppConfig</listener-class>
  </listener>

  <!-- Controller -->
  <servlet>
    <servlet-name>EmpleadoController</servlet-name>
    <servlet-class>com.example.personas.web.EmpleadoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpleadoController</servlet-name>
    <url-pattern>/empleados</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeptoController</servlet-name>
    <servlet-class>com.example.personas.web.DeptoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeptoController</servlet-name>
    <url-pattern>/deptos</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>
